
.navbar{
    max-width: 100%;
    background-color: var(--bgColorTwo);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar span{
    color: white;
}

.navbarTitle{
    letter-spacing: .2rem;
}

.addButton > button{
    border: solid 2px white;
    background-color: var(--bgColorTwo);
    font-size: 1.2rem;
    font-weight: bold;
    padding: .1rem .4rem 0 .4rem;
    border-radius: 50px;
}

.menuButton,
.addButton > button{
    cursor: pointer;
    transition: transform .2s ease;
}

.menuButton:hover,
.addButton > button:hover{
    transform: scale(1.2);
}

.menuButton:active,
.addButton > button:active{
    transform: scale(1.1);
}