
.navbar{
    max-width: 100%;
    background-color: var(--bgColorOne);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar span{
    color: white;
}

.navbarTitle{
    letter-spacing: .2rem;
}

.navbarTitle > h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}

.addButton > button{
    background-color: var(--bgColorThree);
    cursor: pointer;
    padding: .4rem 1rem;
    font-size: .9rem !important;  
    border: solid 3px var(--bgColorTwo);
    border-radius: 5px;
}

.menuButton,
.addButton > button{
    cursor: pointer;
    transition: transform .2s ease;
}

.menuButton:hover,
.addButton > button:hover{
    transform: scale(1.05);
}

.menuButton:active,
.addButton > button:active{
    transform: scale(1.1);
}

.githubLogo > a > img {
    width: 30px;
    transition: .2s width ease;
}

a > img {
    width: 100%;
}

.githubLogo > a > img:hover{
    width: 35px;
    opacity: .8;
}

.addButton > button:hover{
    background-color: var(--bgColorTwo);
}