
.navbar{
    max-width: 100%;
    border: solid 1px red;
    margin: 1rem;
    border-radius: 20px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbarTitle{

}

.addButton > button{
    border: solid 3px black;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
}

.menuButton,
.addButton > button{
    cursor: pointer;
    transition: transform .2s ease;
}

.menuButton:hover,
.addButton > button:hover{
    transform: scale(1.2);
}

.menuButton:active,
.addButton > button:active{
    transform: scale(1.1);
}