
/* sideBar */
body > div.sideBar{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding-top: 2rem;
    width: 200px; 
    transition: width 1s ease; 
    border: solid 1px blue;
    align-items: center;
}

/* sideBar while collapsed */
body > div.sideBar.collapsed{
    width: 100px;
}

/* toggle button rotation */
.sideBar > div > div > button{
    transition: opacity 0.2s ease, transform .5s ease;
}

.sideBar > div > img{
    height: 25px;
    transition: transform 1s ease;
}

.sideBar.collapsed > .dashboardBtn > button,
.sideBar.collapsed > .todayBtn > button,
.sideBar.collapsed > .importantBtn > button{
    opacity: 0; 
    pointer-events: none; 
}

.sideBar > div > button{
    opacity: 1; 
    cursor: pointer;
    background-color: transparent;
    font-size: 1.1rem;
    transition: opacity 1s ease;
}

.sideBar.collapsed > div > img{
    transform: translate(23px);
}

/* change the toggle button direction */
body > div.sideBar.collapsed > div > div > button.toggleBtn{
    transform: rotate(360deg);
}

/* Icons on the sideBar */
div.sideBar > div > img{
    width: 2rem;
}

/* the buttons within the sideBar */
.sideBar > div {
    min-width: 80%;
    border: solid 1px red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.sideBar.collapsed > div{
    justify-content: center;
}

.sideBar > div > button{
    width: 50%;
}

.sideBar > div > img,
.toggleBtn > img {
    filter: invert(1);
    cursor: pointer;
}

/* Toggle button and its container */
div.sideBar > div:first-child{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
}

.toggleBtn{
    transform: rotate(180deg);
    padding: 0px;
    max-width: 32px;
    max-height: 32px;
    background-color: transparent;
    display: flex;
}

.toggleBtn > img{
    display: flex;
    justify-self: center;
}

