
/* sideBar */
body > div.sideBar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    width: 250px; 
    transition: width .5s ease-out; 
    align-items: center; 
    color: var(--textColor);
    background-color: var(--bgColorTwo);
}

/* sideBar while collapsed */
body > div.sideBar.collapsed{
    width: 100px;
}

/* Toggle button and its container */
div.sideBar > div:first-child{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
}

/* toggle sidebar button  */
.sideBar > div > div > button{
    transition: opacity 0.2s ease, transform .5s ease;
}

.sideBar.collapsed img:first-child{
    transform: rotate(180deg);
    transition: transform .2s ease;
}

/* icons */
.sideBar > div > img{
    transition: transform .35s ease;
}

.sideBar.collapsed > .dashboardBtn > button,
.sideBar.collapsed > .todayBtn > button,
.sideBar.collapsed > .importantBtn > button{
    opacity: 0; 
    pointer-events: none; 
}

.sideBar > div > button{
    opacity: 1; 
    cursor: pointer;
    background-color: transparent;
    font-size: 1.1rem;
    transition: opacity .3s ease;
}

.sideBar.collapsed > div > img{
    transform: translate(23px);
}

/* the buttons within the sideBar */
.sideBar > div {
    min-width: 65%;
    padding: .3rem 0 .3rem .2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.sideBar > .sideBarText{
    padding: 1rem 0 !important;
    justify-content: center;

}

.sidebarsPjs{   
    flex-direction: column !important;
    width: 90%;
    align-items: center;
    gap: .7rem;
}

.sideBar.collapsed > div{
    max-width: 70%;
    padding: .3rem 0 .3rem 0;
}

.sideBar > div > img,
.toggleBtn > img {
    cursor: pointer;
}

.toggleBtn{
    padding: 0px;
    max-width: 32px;
    max-height: 32px;
    background-color: transparent;
    display: flex;
}

.toggleBtn > img{
    transform: rotate(360deg);
    display: flex;
    transition: transform .2s ease;
}

.dashboardBtn,
.todayBtn,
.importantBtn,
.projectBtn > button{
    border-radius: 5px;
    border: solid 2px var(--bgColorTwo);
    transition: border .3s ease, background-color .3s ease;
}

.dashboardBtn:hover,
.todayBtn:hover,
.importantBtn:hover,
.projectBtn > button:hover{
    border: solid 2px rgba(255, 255, 255, 0.126);
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 5px;
    transition: border .1s ease, background-color .1s ease;
}

.dashboardBtn:active,
.todayBtn:active,
.importantBtn:active,
.projectBtn > button:active{
    background-color: var(--bgColorTwo);
    transition: background-color .1s ease;
}

.addProject{
    border: dashed 2px var(--textColor);
    border-radius: 5px;
    color: var(--textColor);
    transition: transform .2s ease;
}

.addProject:hover{
    background-color: rgba(255, 255, 255, 0.103);
    transform: scale(1.02);
    border-radius: 5px;
}

.addProject:active{
    background-color:var(--bgColorTwo);
}

.addProject > button {
    cursor: pointer;
    padding: .4rem 1rem;
    font-size: .9rem !important;    
}

.sideBar .projectBtn > button{
    background-color: var(--bgColorTwo);
    font-size: .9rem;
    min-width: 160px;
    max-width: 200px;
    padding: 10px;
    overflow: auto;
    text-overflow: ellipsis;
    transition: min-width .4s ease, max-width 0.3s ease, background-color .3s ease, transform .1s ease !important;
    border: solid 3px var(--bgColorOne);
}

.sideBar .projectBtn > button:hover{
    background-color: var(--bgColorOne);
}

.sideBar .projectBtn > button:active{
    transform: scale(1.1);
    transition: transform .1s ease;
}

.sideBar.collapsed .projectBtn > button{
    transition: min-width .4s ease, max-width 0.3s ease;
    max-width: 70px;
    min-width: 0px;
}

.addProject{
    align-items: center;
    justify-content: center !important;
}