
body > div.sideBar{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* sideBar */
body > div.sideBar{
    width: 200px; 
    transition: width 1s ease; 
    border: solid 1px green;
}

/* sideBar while collapsed */
body > div.sideBar.collapsed{
    border: solid 1px blue;
    width: 100px;
}

.sideBar > div > button{
    transition: opacity 0.2s ease, transform .5s ease;
    opacity: 1; 
}

.sideBar > div > img{
    transition: transform 0.3s ease;
}

.sideBar.collapsed > div:first-child > button {
    transform: rotate(180deg);
}

.sideBar.collapsed > .dashboardBtn > button,
.sideBar.collapsed > .todayBtn > button{
    opacity: 0; 
    pointer-events: none; 
}

.sideBar.collapsed > div > img{
    transform: translate(23px);
}

/* change the toggle button direction */
body > div.sideBar.collapsed > div > button.toggleBtn{
    transform: rotate(360deg);
}

/* Icons on the sideBar */
div.sideBar > div > img{
    width: 2rem;
}

/* the buttons within the sideBar */
.sideBar > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
}

.sideBar.collapsed > div{
    justify-content: center;
}

.sideBar > div > button{
    width: 50%;
}

.sideBar > div > img,
.toggleBtn > img {
    filter: invert(1);
    cursor: pointer;
}

/* Toggle button and its container */
div.sideBar > div:first-child{
    justify-content: end;
}

.toggleBtn{
    transform: rotate(180deg);
    background-color: transparent;
}


